/libs
/bin
/testbin
inm*.config
inm*.creator
inm*.creator.user
inm*.files
inm*.includes
*~
            
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
