/libs
/bin
/testbin
inmemorydb.config
inmemorydb.creator
inmemorydb.creator.user
inmemorydb.files
inmemorydb.includes
            
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
